/*
*/

html, body {
  height: 100%;
}

body {
  background: #fafafa;
  color: #333;
  overflow: hidden;
}

/* Background Images */

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 100% auto;
  background-position: center center;*/
}

.bg-home {
  background-image: url("/images/home.jpg")
}

.bg-about {
  background-image: url("/images/about.jpg")
}

.bg-reception {
  background-image: url("/images/reception.jpg")
}

.bg-accommodations {
  background-image: url("/images/accommodations.jpg")
}

.bg-transportation {
  background-image: url("/images/transportation.jpg")
}

.bg-dresscode {
  background-image: url("/images/dresscode.jpg")
}

.bg-rsvp {
  background-image: url("/images/rsvp.jpg")
}

.bg-checklist {
  background-image: url("/images/checklist.jpg")
}

/* Text Styling */

p, ul, li, input, select, label {
  font-family: "roboto_slabregular";
}

a, a:visited {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  text-align: center;
  font-family: "ralewayregular"
}

th, tr {
  text-align: center
}

.header {
  font-size: 4rem;
  font-family: "amperzandregular";
}

.img-container {
  margin: 1rem;
}

.img-container img {
  border: 0.5rem solid white;
  display: inline;
}

.center {
  text-align: center;
}

.well {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

.well p, ul, table {
  color: white;
}

.loading-bg {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

.loading {
  font-size: 10em;
}

.loading p {
  text-align: center;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hidden {
  display: none;
}

.content-container {
  height: 100%;
}

.prev, .next {
  text-align: center;
  position: fixed;
  font-size: 6rem;
  color: #fff;
  top: 30%;
  z-index: 1;
}

.prev {
  left: 10%;
}

.next {
  right: 10%;
}

#fixed-view-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#view-container, .view {
  height: 100%;
}

#view-container {
  max-height: 100%;
  top: 0;
  overflow: visible;
  position: absolute;
  transition: all 0.5s linear;
}

.view {
  overflow: auto;
}

/* Form */

.rsvp-form {
  color: white;
}

.rsvp-form input, .rsvp-form select {
  width: 100%;
  max-width: 100%;
}

.input-group {
  padding: 0 0.5rem;
}

.submit {
  margin: 1rem;
}

/* Checklist */
