<div id="fixed-view-container">
  <div id="view-container">
    <div class="view bg bg-home" ui-view="home"></div>
    <div class="view bg bg-about" ui-view="about"></div>
    <div class="view bg bg-reception" ui-view="reception"></div>
    <div class="view bg bg-accommodations" ui-view="accommodations"></div>
    <div class="view bg bg-transportation" ui-view="transportation"></div>
    <div class="view bg bg-dresscode" ui-view="dresscode"></div>
    <div class="view bg bg-rsvp" ui-view="rsvp"></div>
    <div class="view bg bg-checklist" ui-view="checklist"></div>
  </div>
</div>
<div class="nav">
  <div class="pure-g">
    <div class="pure-u-1-2">
      <p class="center" ng-hide="page.first">
        <i class="icon ion-chevron-left"></i>
        <span ng-click="prev()" >{{ txt[lang].prev }}</span>
      </p>
    </div>
    <div class="pure-u-1-2">
      <p class="center" ng-hide="page.last">
      <span ng-click="next()">{{ txt[lang].next }}</span>
        <i class="icon ion-chevron-right"></i>
      </p>
    </div>
  </div>
</div>
