<div class="prev" ng-show="!views.about">
  <p ng-click="prev()">Prev</p>
</div>
<div class="view" ui-view="about" ng-show="views.about"></div>
<div class="view" ui-view="reception" ng-show="views.reception"></div>
<div class="view" ui-view="accommodations" ng-show="views.accommodations"></div>
<div class="view" ui-view="transportation" ng-show="views.transportation"></div>
<div class="view" ui-view="dresscode" ng-show="views.dresscode"></div>
<div class="view" ui-view="rsvp" ng-show="views.rsvp"></div>
<div class="view" ui-view="checklist" ng-show="views.checklist"></div>
<div class="next" ng-show="!views.checklist">
  <p ng-click="next()">Next</p>
</div>
