<div class="prev">
  <p ng-click="prev()">Prev</p>
</div>
  <div id="fixed-view-container">
    <div id="view-container">
      <div class="view view-active" ui-view="about"></div>
      <div class="view" ui-view="reception"></div>
      <div class="view" ui-view="accommodations"></div>
      <div class="view" ui-view="transportation"></div>
      <div class="view" ui-view="dresscode"></div>
      <div class="view" ui-view="rsvp"></div>
      <div class="view" ui-view="checklist"></div>
    </div>
  </div>
<div class="next">
  <p ng-click="next()">Next</p>
</div>
{{ state | json }}
