<div class="pure-g">
  <div class="pure-u-1-6"></div>
  <div class="pure-u-2-3">
    <h1 class="header">Reception</h1>
    <div class="well">
      <p>The wedding will take place on Saturday, October 18th, 2014 at the Blue Diamond Riviera Maya.  Located at Km. 298-816, Carretera Federal 307 Chetumal-Puerto Juárez, Playa del Carmen, Quintana Roo, 77710.  Tel: +52 (984) 877-4506.</p>
      <p>The ceremony will begin at 18:00 and dinner will be served at 21:00.</p>
      <div class="img-container center">
        <img class="pure-img img" src="/images/bluediamonddock.jpg" alt="Blue Diamond Dock"/>
      </div>
    </div>
  </div>
  <div class="pure-u-1-6"></div>
</div>
