<h1 class="header">{{ txt[lang].title }}</h1>
<div class="loading-bg" ng-show="loading">
  <div class="loading absolute-center">
    <p><i class="icon ion-loading-c"></i></p>
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-md-1-6"></div>
  <div class="pure-u-1 pure-u-2-3">
    <div class="well">
      <h1 ng-show="success">{{ txt[lang].successMessage }}</h1>
      <form class="pure-form rsvp-form" name="rsvpForm" novalidate ng-hide="success">
        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-4">
            <div class="input-group">
              <label for="first-name">{{ txt[lang].inputs.firstName.label }}</label>
              <input id="first-name" type="text" name="name" placeholder="{{ txt[lang].inputs.firstName.placeholder }}" ng-model="data.name" required></input>
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-4">
            <div class="input-group">
              <label for="last-name">{{ txt[lang].inputs.lastName.label }}</label>
              <input id="last-name" type="text" name="last" placeholder="{{ txt[lang].inputs.lastName.placeholder }}" ng-model="data.last" required></input>
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-4">
            <div class="input-group">
              <label for="email">{{ txt[lang].inputs.email.label }}</label>
              <input id="email" type="email" name="email" placeholder="{{ txt[lang].inputs.email.placeholder }}" ng-model="data.email" required></input>
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-4">
            <div class="input-group">
              <label for="rsvp">{{ txt[lang].inputs.rsvp.label }}</label>
              <select id="rsvp" name="rsvp" ng-model="data.rsvp" ng-options="item.value as item.label for item in txt[lang].inputs.rsvp.options.items" required>
                <option value="" selected>{{ txt[lang].inputs.rsvp.options.default }}</option>
              </select>
            </div>
          </div>
        </div>
        <div ng-show="data.rsvp === 'true'">
          <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-4">
              <div class="input-group">
                <label for="hotel">{{ txt[lang].inputs.hotel.label }}</label>
                <select id="hotel" name="hotel" ng-model="data.hotel" ng-options="item.value as item.label for item in txt[lang].inputs.hotel.options.items" ng-required="data.rsvp === 'true'">
                  <option value="" selected>{{ txt[lang].inputs.hotel.options.default }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-4">
              <div class="input-group">
                <label for="country">{{ txt[lang].inputs.country.label }}</label>
                <select id="country" name="country" ng-model="data.country" ng-options="country.name for country in geo.countries" ng-required="data.rsvp === 'true'">
                  <option value="" selected>{{ txt[lang].inputs.country.options.default }}</option>
                </select>
              </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-4" ng-hide="data.country.code === 'MX' || data.country.code === 'US'">
              <div class="input-group">
                <label for="state">{{ txt[lang].inputs.state.label }}</label>
                <input id="state" type="text" name="state" ng-model="data.state" ng-required="data.rsvp === 'true' && (data.country.code !== 'MX' || data.country.code !== 'US')"></input>
              </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-4" ng-show="data.country.code === 'MX' || data.country.code === 'US'">
              <div class="input-group">
                <label for="state">{{ txt[lang].inputs.state.label }}</label>
                <select id="state" name="state" ng-model="data.state" ng-options="state.name for state in geo[data.country.code]" ng-required="data.rsvp === 'true' && (data.country.code !== 'MX' || data.country.code !== 'US')">
                  <option value="" selected>{{ txt[lang].inputs.state.label.options.default }}</option>
                </select>
              </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-4">
              <div class="input-group">
                <label for="city">{{ txt[lang].inputs.city.label}}</label>
                <input id="city" type="text" name="city" placeholder="{{ txt[lang].inputs.city.placeholder }}" ng-model="data.city" ng-required="data.rsvp === 'true'"></input>
              </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-4">
              <div class="input-group">
                <label for="zip">{{ txt[lang].inputs.zip.label}}</label>
                <input id="zip" type="text" name="zip" placeholder="{{ txt[lang].inputs.zip.placeholder }}" ng-model="data.zip" ng-required="data.rsvp === 'true'"></input>
              </div>
            </div>
          </div>
          <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-4">
              <div class="input-group">
                <label for="street">{{ txt[lang].inputs.street.label}}</label>
                <input id="street" type="text" name="street" placeholder="{{ txt[lang].inputs.street.placeholder }}" ng-model="data.street" ng-required="data.rsvp === 'true'"></input>
              </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-4">
              <div class="input-group">
                <label for="number">{{ txt[lang].inputs.number.label}}</label>
                <input id="number" type="text" name="number" placeholder="{{ txt[lang].inputs.number.placeholder}}" ng-model="data.number" ng-required="data.rsvp === 'true'"></input>
              </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-4">
              <div class="input-group">
                <label for="apt">{{ txt[lang].inputs.apt.label }}</label>
                <input id="apt" type="text" name="apt" placeholder="{{ txt[lang].inputs.apt.placeholder }}" ng-model="data.apt"></input>
              </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-4">
            </div>
          </div>
          <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-4">
              <div class="input-group">
                <label for="guest">{{ txt[lang].inputs.guest.label }}</label>
                <select id="guest" name="guest" ng-model="data.guest" ng-options="item.value as item.label for item in txt[lang].inputs.guest.options.items" ng-required="data.rsvp === 'true'">
                  <option value="" selected>{{ txt[lang].inputs.guest.options.default }}</option>
                </select>
              </div>
            </div>
            <div class="pure-u-md-3-4">
            </div>
          </div>
          <div ng-show="data.guest === 'true'">
            <div class="pure-g">
              <div class="pure-u-1 pure-u-md-1-4">
                <div class="input-group">
                  <label for="guest-name">{{ txt[lang].inputs.guestName.label }}</label>
                  <input id="guest-name" type="text" name="guestName" placeholder="{{ txt[lang].inputs.guestName.placeholder }}" ng-model="data.guestName" ng-required="data.guest === 'true'"></input>
                </div>
              </div>
              <div class="pure-u-1 pure-u-md-1-4">
                <div class="input-group">
                  <label for="guest-last">{{ txt[lang].inputs.guestLast.label }}</label>
                  <input id="guest-last" type="text" name="guestLast" placeholder="{{ txt[lang].inputs.guestLast.placeholder }}" ng-model="data.guestLast" ng-required="data.guest === 'true'"></input>
                </div>
              </div>
              <div class="pure-u-1 pure-u-md-1-4">
                <div class="input-group">
                  <label for="guest-email">{{ txt[lang].inputs.guestEmail.label }}</label>
                  <input id="guest-email" type="email" name="guestEmail" placeholder="{{ txt[lang].inputs.guestEmail.placeholder }}" ng-model="data.guestEmail" ng-required="data.guest === 'true'"></input>
                </div>
              </div>
              <div class="pure-u-1 pure-u-md-1-4">
              </div>
            </div>
          </div>
        </div>
        <div class="pure-g">
          <div class="pure-u-1">
            <div class="input-group center submit">
              <button type="submit" class="pure-button pure-button-primary" ng-click="submit()">{{ txt[lang].inputs.submit.label}}</button>
            </div>
          </div>
        </div>
        <div class="pure-g" ng-show=" (submitted && rsvpForm.$invalid) || hasError">
          <div class="pure-u-1">
            <ul>
              <li ng-show="rsvpForm.name.$error.required">{{ txt[lang].inputs.firstName.errors.required }}</li>
              <li ng-show="rsvpForm.last.$error.required">{{ txt[lang].inputs.lastName.errors.required }}</li>
              <li ng-show="rsvpForm.email.$error.required">{{ txt[lang].inputs.email.errors.required }}</li>
              <li ng-show="rsvpForm.email.$error.email">{{ txt[lang].inputs.email.errors.invalid }}</li>
              <li ng-show="rsvpForm.rsvp.$error.required">{{ txt[lang].inputs.rsvp.errors.required }}</li>
              <li ng-show="rsvpForm.hotel.$error.required">{{ txt[lang].inputs.hotel.errors.required }}</li>
              <li ng-show="rsvpForm.country.$error.required">{{ txt[lang].inputs.country.errors.required }}</li>
              <li ng-show="rsvpForm.state.$error.required">{{ txt[lang].inputs.state.errors.required }}</li>
              <li ng-show="rsvpForm.city.$error.required">{{ txt[lang].inputs.city.errors.required }}</li>
              <li ng-show="rsvpForm.zip.$error.required">{{ txt[lang].inputs.zip.errors.required }}</li>
              <li ng-show="rsvpForm.street.$error.required">{{ txt[lang].inputs.street.errors.required }}</li>
              <li ng-show="rsvpForm.number.$error.required">{{ txt[lang].inputs.number.errors.required }}</li>
              <li ng-show="rsvpForm.guest.$error.required">{{ txt[lang].inputs.guest.errors.required }}</li>
              <li ng-show="rsvpForm.guestName.$error.required">{{ txt[lang].inputs.guestName.errors.required }}</li>
              <li ng-show="rsvpForm.guestLast.$error.required">{{ txt[lang].inputs.guestLast.errors.required }}</li>
              <li ng-show="rsvpForm.guestEmail.$error.required">{{ txt[lang].inputs.guestEmail.errors.required }}</li>
              <li ng-show="rsvpForm.guestEmail.$error.email">{{ txt[lang].inputs.guestEmail.errors.invalid }}</li>
              <li ng-show="hasError">{{ error.message }}</li>
            </ul>
          </div>
        </div>
      </form>
      <!--
      <div style="color: #fff">
        {{ data | json }}
      </div>
      <div style="color: #fff">
        {{ rsvp-form | json }}
      </div>
      -->
    </div>
  <div class="pure-u-md-1-6"></div>
</div>
