<div class="pure-g">
  <div class="pure-u-1-6"></div>
  <div class="pure-u-2-3">
    <form class="pure-form">
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-4">
          <label for="first-name">First Name</label>
          <input id="first-name" type="text" name="name" placeholder="First Name"></input>
        </div>
        <div class="pure-u-1 pure-u-md-1-4">
          <label for="last-name">Last Name</label>
          <input id="last-name" type="text" name="last" placeholder="Last Name"></input>
        </div>
        <div class="pure-u-1 pure-u-md-1-4">
          <label for="email">Email</label>
          <input id="email" type="email" name="email" placeholder="Email"></input>
        </div>
        <div class="pure-u-1 pure-u-md-1-4">
          <label for="rsvp">Are you coming to the wedding?</label>
          <select id="rsvp" name="rsvp">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
      </div>
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-4">
          <div>
            <label for="country">Country</label>
          </div>
          <select id="country" name="country">
            <option value="United States">United States</option>
            <option value="Mexico">Mexico</option>
          </select>
        </div>
        <div class="pure-u-1 pure-u-md-1-4">
          <label for="zip">Zip Code</label>
          <input id="zip" type="text" name="zip" placeholder="Zip Code"></input>
        </div>
        <div class="pure-u-1 pure-u-md-1-4">
          <label for="city">City</label>
          <input id="city" type="text" name="city" placeholder="City"></input>
        </div>
        <div class="pure-u-1 pure-u-md-1-4">
          <div>
            <label for="state">State</label>
          </div>
          <select id="state" name="state">
            <option value="aguascalientes">Aguascalientes</option>
            <option value="baja california">Baja California</option>
          </select>
        </div>
      </div>
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-4">
          <label for="street">Street</label>
          <input id="street" type="text" name="street" placeholder="Street"></input>
        </div>
        <div class="pure-u-1 pure-u-md-1-4">
          <label for="number">Number</label>
          <input id="number" type="text" name="number" placeholder="Number"></input>
        </div>
        <div class="pure-u-1 pure-u-md-1-4">
          <label for="apt">Apt / Suite</label>
          <input id="apt" type="text" name="apt" placeholder="Apt / Suite"></input>
        </div>
        <div class="pure-u-1 pure-u-md-1-4">
        </div>
      </div>
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-4">
          <div>
            <label for="guest">Bringing a guest?</label>
          </div>
          <select id="guest" name="guest">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
        <div class="pure-u-md-3-4">
        </div>
      </div>
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-4">
          <label for="guest-name">First Name</label>
          <input id="guest-name" type="text" name="guest-name" placeholder="First Name"></input>
        </div>
        <div class="pure-u-1 pure-u-md-1-4">
          <label for="guest-last">Last Name</label>
          <input id="guest-last" type="text" name="guest-last" placeholder="Last Name"></input>
        </div>
        <div class="pure-u-1 pure-u-md-1-4">
          <label for="guest-email">Email</label>
          <input id="guest-email" type="email" name="guest-email" placeholder="Email"></input>
        </div>
        <div class="pure-u-1 pure-u-md-1-4">
        </div>
      </div>
    </form>
  </div>
  <div class="pure-u-1-6"></div>
</div>
