<div class="pure-g">
  <div class="pure-u-1-6"></div>
  <div class="pure-u-2-3">
    <div>
      <h3>To Cancún</h3>
      <p>To find flights, we recommend <a href="http://www.kayak.com">Kayak</a> or <a href="http://www.hipmunk.com">Hipmunk</a></p>
    </div>
    <div>
      <h3>From the Airport</h3>
      <p>Bus and taxis range from $20 USD to $70 USD.</p>
    </div>
    <div>
      <h3>From Blue Bay Grand Esmeralda to Blue Diamond Riviera Maya</h3>
      <p>We will arrange transportation for guests staying at the Blue Bay Grand Esmeralda.</p>
    </div>
  </div>
  <div class="pure-u-1-6"></div>
</div>
